# sets

### whenever we need the unique values we use set and duplicates are not allowed

In [2]:
dd=set()
dd.add('ashish')

In [3]:
# wrong form of set because of mutability we can change the elements within the list 
set1=[1,2,3,4,5,[1,2]]
set1=set(set1)

TypeError: unhashable type: 'list'

In [6]:
# right form of set because of immutability we can not change the tuple within the list 
set2=[1,2,3,45,5,5,(1,2)]
set2=set(set2)
print(set2)

{(1, 2), 1, 2, 3, 5, 45}

# Intersection and Union of the Sets

In [3]:
#Union of the Sets
team1=['ashish','rohan','mohan','chintu']
team2=['tushar','vishal','sagar','ganesh','mohan']
team1=set(team1)
team2=set(team2)
allplayer=team1 | team2
print(allplayer)
commonplayer= team1 & team2
print(commonplayer)

{'mohan', 'chintu', 'ganesh', 'vishal', 'sagar', 'rohan', 'ashish', 'tushar'}
{'mohan'}

# Index function

In [6]:
# index gives the position of the every value 
#print(team1.index('rohan'))
#set3=set([1,2,3])
#print(set3.index(2))
#index is not working for set

In [7]:
set3=set()
set3.update([1,2,3])
print(set3)

{1, 2, 3}

In [13]:
set3.update((2,4))
print(set3)

{1, 2, 3, 4}

# Using remove() method or discard() method

#### Elements can be removed from the Set by using built-in remove() function but a KeyError arises if element doesn’t exist in the set. To remove elements from a set without KeyError, use discard(), if the element doesn’t exist in the set, it remains unchanged.

In [19]:
# using of the remove( )
#set3.remove(1)
print(set3)

{3, 4}

In [55]:
# use of the add()
print(set1)
#set1.add(5)

{1, 2, 3, 4, 5, 123}

In [47]:
# using of the discard()
set3.discard(2)
print(set3)

{1, 3, 4}

In [3]:
# using of the difference()
set1=set((1,2,3,4))
set2=set((1,1,2,3))
set1.difference(set2)

{4}

In [1]:
# use of the union () - write the common ones only one time 
set1 = {2, 4, 5, 6}  
set2 = {4, 6, 7, 8}  
set3 = {7, 8, 9, 10} 
print("union of set1 U set2:",set1.union(set2))

union of set1 U set2: {2, 4, 5, 6, 7, 8}

In [11]:
# use of the intersection () - write the only common one 
set1 = {2, 4, 5, 6}  
set2 = {4, 6, 7, 8}  
set3 = {7, 8, 9, 10} 
print("intersection of set1 N set2:",set1.intersection(set2))

intersection of set1 N set2: {4, 6}

In [46]:
# using pop ()
set3=set(set1)
set1.pop()
print(set1)

{2, 3, 4}

In [7]:
# using the difference() - used to return the other than common elements 
set3={1,2,4}
set4={2,3,4}
set3.difference(set4)

{1}

In [9]:
# using of differnece.update()- used to remove all the elements 
set3.difference_update(set4)
print(set3)

{1}

In [10]:
#using of the disjoint ()- true when elements are not same 
set3={1,2,4}
set4={2,3,4}
set3.isdisjoint(set4)

False