# Customer Serivce Analysis

> Background of Problem Statement :
- NYC 311's mission is to provide the public with quick and easy access to all New York City government services and information while offering the best customer service. Each day, NYC311 receives thousands of requests related to several hundred types of non-emergency services, including noise complaints, plumbing issues, and illegally parked cars. These requests are received by NYC311 and forwarded to the relevant agencies such as the police, buildings, or transportation. The agency responds to the request, addresses it, and then closes it.

> Problem Objective :
- Perform a service request data analysis of New York City 311 calls. You will focus on the data wrangling techniques to understand the pattern in the data and also visualize the major complaint types.
  Domain: Customer Service

In [53]:
# installing the required library 
import numpy as np 
import pandas as pd

In [54]:
# import the dataset 
cus_ser=pd.read_csv(r"C:\Users\Asus\Desktop\data science with python projects\service request from 2010 to till\311sr.csv",)

C:\Users\Asus\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (48,49) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [55]:
# seeing the top rows of the dataset
cus_ser.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,32310363,12/31/2015 11:59:45 PM,01-01-16 0:55,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034.0,71 VERMILYEA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)"
1,32309934,12/31/2015 11:59:44 PM,01-01-16 1:26,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11105.0,27-07 23 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.775945,-73.915094,"(40.775945312321085, -73.91509393898605)"
2,32309159,12/31/2015 11:59:29 PM,01-01-16 4:51,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,10458.0,2897 VALENTINE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.870325,-73.888525,"(40.870324522111424, -73.88852464418646)"
3,32305098,12/31/2015 11:57:46 PM,01-01-16 7:43,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10461.0,2940 BAISLEY AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.835994,-73.828379,"(40.83599404683083, -73.82837939584206)"
4,32306529,12/31/2015 11:56:58 PM,01-01-16 3:24,NYPD,New York City Police Department,Illegal Parking,Blocked Sidewalk,Street/Sidewalk,11373.0,87-14 57 ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.733060,-73.874170,"(40.733059618956815, -73.87416975810375)"

In [79]:
#looking for the datatypes
#renaming the coloumn 
cus_ser.rename(columns={'Created Date': 'Created_Date','Closed Date': 'Closed_Date'},inplace=True)
cus_ser.dtypes

Unique Key                                 int64
Created_Date                      datetime64[ns]
Closed_Date                       datetime64[ns]
Agency                                    object
Agency Name                               object
Complaint Type                            object
Descriptor                                object
Location Type                             object
Incident Zip                             float64
Incident Address                          object
Street Name                               object
Cross Street 1                            object
Cross Street 2                            object
Intersection Street 1                     object
Intersection Street 2                     object
Address Type                              object
City                                      object
Landmark                                  object
Facility Type                             object
Status                                    object
Due Date                                  object
Resolution Description                    object
Resolution Action Updated Date            object
Community Board                           object
Borough                                   object
X Coordinate (State Plane)               float64
Y Coordinate (State Plane)               float64
Park Facility Name                        object
Park Borough                              object
School Name                               object
School Number                             object
School Region                             object
School Code                               object
School Phone Number                       object
School Address                            object
School City                               object
School State                              object
School Zip                                object
School Not Found                          object
School or Citywide Complaint             float64
Vehicle Type                             float64
Taxi Company Borough                     float64
Taxi Pick Up Location                    float64
Bridge Highway Name                       object
Bridge Highway Direction                  object
Road Ramp                                 object
Bridge Highway Segment                    object
Garage Lot Name                          float64
Ferry Direction                           object
Ferry Terminal Name                       object
Latitude                                 float64
Longitude                                float64
Location                                  object
dtype: object

In [40]:
#all the coloumns in the dataframe 
cus_ser.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Park Facility Name', 'Park Borough',
       'School Name', 'School Number', 'School Region', 'School Code',
       'School Phone Number', 'School Address', 'School City', 'School State',
       'School Zip', 'School Not Found', 'School or Citywide Complaint',
       'Vehicle Type', 'Taxi Company Borough', 'Taxi Pick Up Location',
       'Bridge Highway Name', 'Bridge Highway Direction', 'Road Ramp',
       'Bridge Highway Segment', 'Garage Lot Name', 'Ferry Direction',
       'Ferry Terminal Name', 'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [57]:
# changing the datetime format of the Created Date and Closed date 
from datetime import datetime

def conver_datetime(col):
    cus_ser[col]=pd.to_datetime(cus_ser[col])

conver_datetime('Closed Date')
conver_datetime('Created Date')

In [85]:
cus_ser[['Created_Date','Closed_Date']].head()

         Created_Date         Closed_Date
0 2015-12-31 23:59:45 2016-01-01 00:55:00
1 2015-12-31 23:59:44 2016-01-01 01:26:00
2 2015-12-31 23:59:29 2016-01-01 04:51:00
3 2015-12-31 23:57:46 2016-01-01 07:43:00
4 2015-12-31 23:56:58 2016-01-01 03:24:00

In [93]:
# creating the new coloumn 'Request_Closing_Time'
cus_ser['Request_Closing_Time']=(cus_ser.Closed_Date-cus_ser.Created_Date)
cus_ser.Request_Closing_Time

0        00:55:15
1        01:26:16
2        04:51:31
3        07:45:14
4        03:27:02
           ...
300693        NaT
300694   02:00:31
300695   03:07:17
300696   04:05:33
300697   04:08:49
Name: Request_Closing_Time, Length: 300698, dtype: timedelta64[ns]

AttributeError: 'DataFrame' object has no attribute 'column1'