# Datetime module in python

In [71]:
import pandas as pd 
import datetime as dat

## To create dates dataframe
- date_range () 
> where 
freq= date, year, month and hour(H,M,D,Y)

> period= number of date outcomes

> what ever will we the pattern this will generate= 'MM-DD-YYYY'

In [39]:
data=pd.date_range(start='1/1/2018',periods=4,freq='Y')
data

DatetimeIndex(['2018-12-31', '2019-12-31', '2020-12-31', '2021-12-31'], dtype='datetime64[ns]', freq='A-DEC')

- pandas.Series.dt.year 
> returns the year of the date time.
- pandas.Series.dt.month 
> returns the month of the date time.
- pandas.Series.dt.day 
> returns the day of the date time.
- pandas.Series.dt.hour 
> returns the hour of the date time.
- pandas.Series.dt.minute 
> returns the minute of the date time

In [45]:
df=pd.DataFrame()
df['Date']=pd.date_range('12/14/2004',periods=5,freq='H')
df

        Date
0 2004-12-31
1 2005-01-31
2 2005-02-28
3 2005-03-31
4 2005-04-30

In [55]:
df['Year']=df['Date'].dt.year
df['Month']=df['Date'].dt.month
df['Day']=df['Date'].dt.day
df['Hour']=df['Date'].dt.hour
df['minute']=df['Date'].dt.minute

In [64]:
# to get the current time 
pd.Timestamp.now()

Timestamp('2020-08-29 18:18:20.377894')

In [72]:
url = 'http://bit.ly/uforeports'
df=pd.read_csv(url)
df.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18216 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  object
dtypes: object(5)
memory usage: 712.7+ KB


# using the pd.to_datetime()
> you can use the format inside to use the specific format

In [ ]:
df_1=df.copy()
df_1.info()

In [91]:
df_1['Time']=pd.to_datetime(df['Time'])
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18216 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 712.7+ KB

# using the dataframe.astype()

In [93]:
df_2=df.copy()
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18216 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  object
dtypes: object(5)
memory usage: 712.7+ KB

In [96]:
df_2['Time']=df_2['Time'].astype('datetime64[ns]')

In [97]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18216 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 712.7+ KB

# creating the timestamp using timestamp

In [98]:
# Create the Timestamp object 
ts = pd.Timestamp(year = 2009, month = 5, day = 31,  
                  hour = 4, second = 49, tz = 'Europe/Berlin') 
  
# Print the Timestamp object 
print(ts)

2009-05-31 04:00:49+02:00

In [ ]:
pd.to_datetime()