# Pandas Data Frame
-Pandas DataFrame will be created by loading the datasets from existing storage, storage can be SQL Database, CSV file, and Excel file. Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc.

# BY USING LIST
1. Creating the dataframe using List

In [1]:
import pandas as pd
import numpy as np

In [4]:
# this is the empty dataframe
dc=pd.DataFrame()

In [17]:
# by list
lst=['I','Love','Data','Science']
df1=pd.DataFrame(lst)
df1 #calling directly 

# calling using index and column
lst=['I','Love','Data','Science']
df2=pd.DataFrame(lst,index=['a','b','c','d'],columns=['Names'])
df2

     Names
a        I
b     Love
c     Data
d  Science

2.Dataframe using zip

In [19]:
lst=['I','Love','Data','Science']
lst1=[12,23,34,23]
df3=pd.DataFrame(list(zip(lst,lst1)),columns=['Name','val'])
df3

      Name  val
0        I   12
1     Love   23
2     Data   34
3  Science   23

3.Dataframe using multidimensional list

In [21]:
lst=[('ashish',23,'M',174),('Divya',24,'F',172)]
df4=pd.DataFrame(lst,columns=['Name','Age','Sex','Height'])
df4

     Name  Age Sex  Height
0  ashish   23   M     174
1   Divya   24   F     172

4.Using multi-dimensional list with column name and dtype specified.

In [26]:
lst=[('ashish',23,'M',174),('Divya',24,'F',172)]
df5=pd.DataFrame(lst,columns=['Name','Age','Sex','Height'],dtype='int')
df5

     Name  Age Sex  Height
0  ashish   23   M     174
1   Divya   24   F     172

# USING DICTIONARY

1.Using simply as making dict.

In [62]:
dic={'Name':('ashish','mohini','divya','simi'),'Age':[23,24,25,24],'Gender':['Male','Female','Female','Female']}

#whatever you can use inside the dect after converting to dataframe you can ready to assign the values to the dic
df5=pd.DataFrame(dic)
df5

#change the element
df5['Name'][1]='yadav'
# using to slice the element
df5['Age'][0]

C:\Users\ashish\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

23