In [ ]:
# ways of reading the file 
-read_csv

In [3]:
import numpy as np
import pandas as pd
np.set_printoptions(precision=4)

In [4]:
# to read the csv file 
df1=pd.read_csv("D:\student.csv")
df1

# to read text file using read_csv same for tab delimited file use , in sep
df2=pd.read_csv('D:\sass.txt',sep='\t')
df2

    A   B   C
0  12  34   6
1  12  45  64
2  11  33  33
3  13   4  22
4  14  32   2
5  45   6   3

In [11]:
# to give the header name by own 
pd.read_csv("D:\student.csv",names=['nam','Age','Gender','Emp'],index_col=)

    nam   Age   Gender  Emp
0  name  age   gender   emp
1     A    24        M  YES
2     B    34        F   NO
3     C    23        M  YES
4     D    25        F  YES
5     E    25        M   NO
6     F    26        F  YES