# pandas practice

# Data Series

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib as plt

In [33]:
#1 Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module

df=pd.Series([1,2,3,4,5])
df_new=np.array(df)
type(df_new)
df_new.ndim
print(df)

print(df_new)

0    1
1    2
2    3
3    4
4    5
dtype: int64
[1 2 3 4 5]

In [18]:
#2 Write a Python program to convert a Panda module Series to Python list and it's type
df_ne=df.tolist()
df_ne

#or
df_n=list(df)
df_n

[1, 2, 3, 4, 5]

In [24]:
 #Write a Python program to add, subtract, multiple and divide two Pandas Series. Go to the editor
#Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

s1=pd.Series([2, 4, 6, 8, 10])
s2=pd.Series([1, 3, 5, 7, 9])

#addition
add=s1+s2
print(add)

#multiplication
mul=s1*s2
print(mul)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64

In [31]:
# Write a Python program to change the data type of given a column or a Series.
df=pd.Series([100,200,'python',200.2])
df.dtypes
pd.to_numeric(df,errors='coerce')

0    100.0
1    200.0
2      NaN
3    200.2
dtype: float64

In [38]:
# Write a Pandas program to convert Series of lists to one Series

import pandas as pd
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print("Original Series of list")
print(s)
s = s.apply(pd.Series).stack().reset_index(drop=True)
print("One Series")
print(s)

Original Series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
One Series
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [51]:
#Write a Pandas program to sort a given Series
new=pd.Series([1,2,4,3])
sorted(new)
#or 
new.sort_values()

0    1
1    2
3    3
2    4
dtype: int64

In [55]:
#Write a Pandas program to change the order of index of a given series
new=pd.Series(data=[1,2,34,5,3],index='A B C D E'.split())
new.reindex(index='B C A D E'.split())

B     2
C    34
A     1
D     5
E     3
dtype: int64

In [66]:
#Write a Pandas program to get the items of a given series not present in another given series.
sr1=pd.Series([1,2,3,4,5])
sr2=pd.Series([2,4,6,7,8])
res= sr1[~sr1.isin(sr2)]
print(res)

0    1
2    3
4    5
dtype: int64

In [74]:
## to calculate the freqeuency of ecah values 
sr3=pd.Series([2,3,4,5,5,6,4,7,33,44,33,2])
pd.value_counts(sr3)

5     2
4     2
2     2
33    2
44    1
7     1
6     1
3     1
dtype: int64

In [86]:
# write number of values which multiple of 5
sr4=pd.Series([2,3,4,5,6,7,8,9,10])
res=np.where(sr4 %5==0)
res
sr4.loc[res]

3     5
8    10
dtype: int64

In [104]:
# Write a Pandas program to get the positions of items of a given series in another given series
import pandas as pd
series1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
series2 = pd.Series([1, 3, 5, 7, 10])
print("Original Series:")
print(series1)
print(series2)
result = [pd.Index(series1).get_loc(i) for i in series2]
print("Positions of items of series2 in series1:")
print(result)

Original Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
Positions of items of series2 in series1:
[0, 2, 4, 6, 9]

In [10]:
# Write a Pandas program to extract items at given positions of a given series.

ser1= pd.Series(list('234655453545365464645765643887'))
ser1.head()
index_ext=[2,3,4,5,6,6,5]
ser1.take(index_ext)

2    4
3    6
4    5
5    5
6    4
6    4
5    5
dtype: object

In [12]:
#Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.

series1 = pd.Series(['php', 'python', 'java', 'c#'])

for i in series1:
    res=i[0].upper()+i[1:-1] + i[-1].upper()
    print(res)

PhP
PythoN
JavA
C#

In [30]:
# Write a Pandas program to calculate the number of characters in each word in a given series
series1 = pd.Series(['php', 'python', 'java', 'c'])

series1.map(len,x)
#or
series1.map(lambda x : len(x))

0    3
1    6
2    4
3    1
dtype: int64

In [41]:
ser1= pd.Series([1,2,3,4,5,56,7,88])
print(ser1.diff().tolist())

[nan, 1.0, 1.0, 1.0, 1.0, 51.0, -49.0, 81.0]

In [54]:
 # Write a Pandas program to convert a series of date strings to a timeseries
import datetime
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("Original Series:")
print(date_series)
print("\nSeries of date strings to a timeseries:")
print(pd.to_datetime(date_series))

Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

Series of date strings to a timeseries:
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

In [60]:
 #Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings
    
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("Original Series:")
print(date_series)

print("Day of month:")
print(date_series.dt.day.tolist())
print("Day of year:")
print(date_series.dt.dayofyear.tolist())
print("Week number:")
print(date_series.dt.weekofyear.tolist())
print("Day of week:")
print(date_series.dt.weekday_name.tolist())

data_series.dt.month

Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
Day of month:

AttributeError: Can only use .dt accessor with datetimelike values

In [62]:
date_series.dt.year()

AttributeError: Can only use .dt accessor with datetimelike values

In [67]:
# write the only words which contains only vowel 
ser=pd.Series('Red Green Orange Pink Yellow White'.split())
for i in ser:
    i[0]==['a','i','o','u','e']
    print(i)

Red
Green
Orange
Pink
Yellow
White

In [68]:
# Write a Pandas program to compute the Euclidean distance between two given series.
x = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
y = pd.Series([11, 8, 7, 5, 6, 5, 3, 4, 7, 1])
print("Original series:")
print(x)
print(y)
print("\nEuclidean distance between two said series:")
print(np.linalg.norm(x-y))

Original series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0    11
1     8
2     7
3     5
4     6
5     5
6     3
7     4
8     7
9     1
dtype: int64

Euclidean distance between two said series:
16.492422502470642

In [69]:
# Write a Pandas program to compute the autocorrelations of a given numeric series.
num_series = pd.Series(np.arange(15) + np.random.normal(1, 10, 15))
print("Original series:")
print(num_series)
autocorrelations = [num_series.autocorr(i).round(2) for i in range(11)]
print("\nAutocorrelations of the said series:")
print(autocorrelations[1:])

Original series:
0     22.633864
1     -8.314059
2     15.519782
3      6.578013
4      6.028980
5     10.257397
6     19.492288
7     16.444087
8     14.980747
9      6.812145
10    11.511563
11    22.626961
12    19.206713
13    26.702648
14     5.077366
dtype: float64

Autocorrelations of the said series:
[-0.17, 0.16, -0.21, -0.03, 0.15, 0.24, -0.0, -0.01, -0.13, -0.36]

In [70]:
# Write a Pandas program to create a TimeSeries to display all the Sundays of given year.
result = pd.Series(pd.date_range('2020-01-01', periods=52, freq='W-SUN'))
print("All Sundays of 2019:")
print(result)

All Sundays of 2019:
0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
5    2020-02-09
6    2020-02-16
7    2020-02-23
8    2020-03-01
9    2020-03-08
10   2020-03-15
11   2020-03-22
12   2020-03-29
13   2020-04-05
14   2020-04-12
15   2020-04-19
16   2020-04-26
17   2020-05-03
18   2020-05-10
19   2020-05-17
20   2020-05-24
21   2020-05-31
22   2020-06-07
23   2020-06-14
24   2020-06-21
25   2020-06-28
26   2020-07-05
27   2020-07-12
28   2020-07-19
29   2020-07-26
30   2020-08-02
31   2020-08-09
32   2020-08-16
33   2020-08-23
34   2020-08-30
35   2020-09-06
36   2020-09-13
37   2020-09-20
38   2020-09-27
39   2020-10-04
40   2020-10-11
41   2020-10-18
42   2020-10-25
43   2020-11-01
44   2020-11-08
45   2020-11-15
46   2020-11-22
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

In [71]:
# Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.
nums = pd.Series([1, 3, 7, 12, 88, 23, 3, 1, 9, 0])
print("Original Series:")
print(nums)
print("Index of the first occurrence of the smallest and largest value of the said series:")
print(nums.idxmin())
print(nums.idxmax())

Original Series:
0     1
1     3
2     7
3    12
4    88
5    23
6     3
7     1
8     9
9     0
dtype: int64
Index of the first occurrence of the smallest and largest value of the said series:
9
4

In [ ]:
# Write a Pandas program to check inequality over the index axis of a given dataframe and a given series.
df_data = pd.DataFrame({'W':[68,75,86,80,None],'X':[78,75,None,80,86], 'Y':[84,94,89,86,86],'Z':[86,97,96,72,83]});
sr_data = pd.Series([68, 75, 86, 80, None]) 
print("Original DataFrame:")
print(df_data)
print("\nOriginal Series:")
print(sr_data)
print("\nCheck for inequality of the said series & dataframe:")