# Pandas Series 
- Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index. Pandas Series is nothing but a column in an excel sheet.

In [1]:
import numpy as np 
import pandas as pd

In [2]:
#----------------creating series using array--------------------#
ser=pd.Series() # this is a empty series
dat=np.array([1,2,3,4,55,6])
ser=pd.Series(dat)
print(ser)

0     1
1     2
2     3
3     4
4    55
5     6
dtype: int32

In [8]:
#---------------creating series from a list-------------------#
lis=[2,3,4,5,'ashish','dhakad',[2,3,4,5]]
ser1=pd.Series(lis)
print(ser1)

0               2
1               3
2               4
3               5
4          ashish
5          dhakad
6    [2, 3, 4, 5]
dtype: object

In [27]:
#----------aceesing the elements----------------#
ser1[:3]
#2
ser1[2]
#change the element of the series
ser1[6][:2]=[4,5]
print(ser1)

#we can also assing a position value to the multiple values in the series
a,b,c,d,e,s,w=ser1
w[3]=5
w

0               2
1               3
2               4
3               5
4          ashish
5          dhakad
6    [4, 5, 4, 2]
dtype: object

[4, 5, 4, 5]